.container {
    background-color: #fdfdff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 35px;
}

.details-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #fa7474;
    border-radius: 100%;
    border-style: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 60px;
    font-weight: bold;
    font-size: 25px;
    outline: none;
    width: 60px;
    transition: 20ms linear;
}

.button:hover {
    background-color: #fa5454;
}

@media screen and (max-width: 548px) {
    .button {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }
}
